<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block content %}
   {% if is_not_subscriber %}
            <p class="text-center"><a href="{% url 'subscribe' category.id %}" class = "bt btn-secondary btn-sm">Подписаться</a></p>
   {% endif %}

   <p align="center"><h1>Все новости и статьи  в категории: </h1></p>
    <p><h1>{{category.name}}</h1></p>

   {% if category_news_list %}
       <h6>Количество новостей и статей: {{category_news_list|length}}</h6>
       <table align="center">
           <tr>
               <td>Название</td>
               <td>Дата создания</td>
               <td>Содержание</td>

               {% if perms.news.change_post or perms.news.delete_post %}
               <td>Действия</td>
               {% endif %}
           </tr>

           {% for post in category_news_list %}
           <tr>
               <td>{{ post.postCategory }}</td>
               <td>{{ post.title }}</td>
               <td>{{ post.dateCreation|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20 }}</td>
               <td>{% if perms.news.change_post %}
                    <a href="{% url 'post_update' pk=post.id %}">Изменить</a>
                    {% endif %} </td>
               <td>
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' pk=post.id %}">Удалить</a>
                    {% endif %}</td>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей и статей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}